<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Black Friday Scam Buster' %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="masthead">
    <h3 class="muted">Black Friday Scam Buster</h3>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li class="<%= 'active' if params[:controller] == 'welcome' %>"><%= link_to "Home", root_path %></li>
            <ul class="nav pull-right">
              <li class="<%= 'active' if params[:controller] == 'shop' %>"><%= link_to "Shops", shops_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% if user_signed_in? %>
                    <!-- Logged in as <strong><%= current_user.email %></strong>. -->
                    <li><a href="#">Follow a product</a></li>
                    <li><a href="#">My products</a></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                  <% else %>
                    <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
                    <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->
  </div>

  <div class="notices">
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
  </div>

  <div class="breadcrumbs">
    <%= render_breadcrumbs %>
  </div>

  <%= yield %>
</div>
</body>
</html>
